.dock{
    display: flex;
    gap: 0.7rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    
    background-color: rgba(50, 49, 49, 0.69);
    padding-inline: 1rem;
    padding-block: 0.7rem;
    border-radius: 0.75rem;

    backdrop-filter: blur(5px);
    cursor: pointer;

     .icon{
        padding: 0.65rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        aspect-ratio: 1/1;
        width: 3.75rem;
        transition: all 0.3s linear;
     }
     .github{
            background-color: black;
         }
      .note{
         background: linear-gradient(to bottom,rgb(255, 179, 87) , rgb(250, 159, 55));
      }
      .pdf{
         background: linear-gradient(to bottom,rgb(245, 18, 18) , rgb(211, 27, 27));
      }
      .calender{
         background: linear-gradient(to bottom,rgb(79, 34, 242) , rgb(51, 35, 222));
      }
      .spotify{
         background: linear-gradient(to bottom,rgb(34, 242, 51) , rgb(33, 128, 12));
      }
      .mail{
         background: linear-gradient(to bottom,rgb(166, 34, 242) , rgb(188, 50, 215));
      }
      .link{
         background: linear-gradient(to bottom,rgb(193, 21, 81) , rgb(194, 17, 150));
      }
      .cli{
         background-color: black;
      }

     .icon:hover{
        transform: scale(1.3) translateY(-20%);
     }

     .icon:hover + .icon,
     .icon:has(+.icon:hover){
        transform: scale(1.1) translateY(-10%);

     }
}